MitchellClaim/Service References/ServiceReference1/DO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMitchellClaimType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MitchellClaimType" nillable="true" type="tns:MitchellClaimType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMitchellClaimType" nillable="true" type="tns:ArrayOfMitchellClaimType" />
  <xs:complexType name="MitchellClaimType">
    <xs:sequence>
      <xs:element name="assignedAdjusterIDField" type="xs:long" />
      <xs:element name="assignedAdjusterIDFieldSpecified" type="xs:boolean" />
      <xs:element name="claimNumberField" nillable="true" type="xs:string" />
      <xs:element name="claimantFirstNameField" nillable="true" type="xs:string" />
      <xs:element name="claimantLastNameField" nillable="true" type="xs:string" />
      <xs:element name="lossDateField" type="xs:dateTime" />
      <xs:element name="lossDateFieldSpecified" type="xs:boolean" />
      <xs:element name="lossInfoField" nillable="true" type="tns:LossInfoType" />
      <xs:element name="statusField" type="tns:StatusCode" />
      <xs:element name="statusFieldSpecified" type="xs:boolean" />
      <xs:element name="vehiclesField" nillable="true" type="tns:ArrayOfVehicleInfoType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MitchellClaimType" nillable="true" type="tns:MitchellClaimType" />
  <xs:complexType name="LossInfoType">
    <xs:sequence>
      <xs:element name="causeOfLossField" type="tns:CauseOfLossCode" />
      <xs:element name="causeOfLossFieldSpecified" type="xs:boolean" />
      <xs:element name="lossDescriptionField" nillable="true" type="xs:string" />
      <xs:element name="reportedDateField" type="xs:dateTime" />
      <xs:element name="reportedDateFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LossInfoType" nillable="true" type="tns:LossInfoType" />
  <xs:simpleType name="CauseOfLossCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Collision" />
      <xs:enumeration value="Explosion" />
      <xs:enumeration value="Fire" />
      <xs:enumeration value="Hail" />
      <xs:enumeration value="MechanicalBreakdown" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CauseOfLossCode" nillable="true" type="tns:CauseOfLossCode" />
  <xs:simpleType name="StatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OPEN" />
      <xs:enumeration value="CLOSED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusCode" nillable="true" type="tns:StatusCode" />
  <xs:complexType name="ArrayOfVehicleInfoType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehicleInfoType" nillable="true" type="tns:VehicleInfoType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicleInfoType" nillable="true" type="tns:ArrayOfVehicleInfoType" />
  <xs:complexType name="VehicleInfoType">
    <xs:sequence>
      <xs:element name="damageDescriptionField" nillable="true" type="xs:string" />
      <xs:element name="engineDescriptionField" nillable="true" type="xs:string" />
      <xs:element name="exteriorColorField" nillable="true" type="xs:string" />
      <xs:element name="licPlateExpDateField" type="xs:dateTime" />
      <xs:element name="licPlateExpDateFieldSpecified" type="xs:boolean" />
      <xs:element name="licPlateField" nillable="true" type="xs:string" />
      <xs:element name="licPlateStateField" nillable="true" type="xs:string" />
      <xs:element name="makeDescriptionField" nillable="true" type="xs:string" />
      <xs:element name="mileageField" type="xs:int" />
      <xs:element name="mileageFieldSpecified" type="xs:boolean" />
      <xs:element name="modelDescriptionField" nillable="true" type="xs:string" />
      <xs:element name="modelYearField" type="xs:int" />
      <xs:element name="vinField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleInfoType" nillable="true" type="tns:VehicleInfoType" />
</xs:schema>